<!DOCTYPE html>
<html lang="en-US" data-lt-installed="true">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/favicon1.svg">
    <link rel="stylesheet" href="/assets/stylesheets/index.css">
    <title>Spectra {% if title %} - {{title}}{% endif %}</title>
    {% if description %}<meta name="description" content="{{description}}">{% endif %}
    {% if author %}<meta name="author" content="{{author}}">{% endif %}
    {% if keywords %}<meta name="keywords" content="{{keywords}}">{% endif %}
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-wrapper">
          <div class="navbar-wrapper-title">
            <a class="icon" href="/">
              <img src="/assets/img/spectra-icon.svg" alt="Spectra">
            </a>
            <a class="text" href="/">Spectra Machine Learning Review Paper Competition</a>
          </div>
          <div class="navbar-nav">
            <div class="nav-item-about">
              <a class="nav-link" href="/readme">About the competition</a>
            </div>
            <div class="nav-item-submit">
              <a class="nav-link" href="https://github.com/Mathpix/spectra-review-paper-competition" target="_blank">Submit paper</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    {{ content | safe }}
    <footer>
      <div class="footer">
        <span>Copyright ©</span>
        <a href="https://mathpix.com" target="_blank">Mathpix</a>
        <span>2021</span>
      </div>
    </footer>
  </body>
</html>