---
layout: layout.njk
---
<div class="article page-content">
    <div class="article-wrapper">
        <h1 class="article-title">{{title}}</h1>
        <p class="article-author">{{author}}</p>
        <div class="article-content">
            {{ content | safe }}
        </div>
    </div>
</div>