@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body,
html {
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
}
header {
  border-bottom: 1px solid #dadbe3;
}
footer {
  border-top: 1px solid #dadbe3;
  margin-top: auto;
}
header,
footer {
  background: #f2f2f5;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-content {
  max-width: 800px;
  margin: auto;
  width: 100%;
  padding: 0 25px;
}
.footer,
.navbar,
.header-inner {
  max-width: 1040px;
  margin: auto;
  padding: 10px 20px;
}
a {
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.footer a {
  padding: 0 5px;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 680px) {
  .navbar-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.navbar-wrapper-title {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.navbar-wrapper-title .text {
  font-weight: 600;
  color: #000;
  font-size: 20px;
  padding: 0 0 0 10px;
}
.navbar-nav {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.navbar-nav .nav-item-about {
  margin-right: 20px;
  min-width: 132px;
  text-align: right;
}
.navbar-nav .nav-item-about a {
  color: #68687f;
}
.navbar-nav .nav-item-about a:hover {
  color: #0094ff;
}
.navbar-nav .nav-item-submit {
  background-color: #2227d1;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(103, 103, 103, 0.5);
  min-width: 112px;
}
.navbar-nav .nav-item-submit a {
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
}
.navbar-nav .nav-item-submit:hover {
  background-color: #0094ff;
  cursor: pointer;
}
.header-inner {
  width: 100%;
  border-bottom: 1px solid #dadbe3;
  padding-top: 30px;
  padding-bottom: 5px;
  color: #000;
  font-size: 18px;
}
.articles-wrapper {
  margin-top: 60px;
}
.articles-item {
  margin-bottom: 50px;
  color: #000;
}
.articles-item-title {
  font-weight: 600;
  font-size: 26px;
}
.articles-item-title a {
  color: #000;
}
.articles-item-title a:hover {
  text-decoration: underline;
}
.articles-item-author {
  color: #68687f;
  font-size: 14px;
}
.articles-item-description {
  line-height: 130%;
  font-size: 16px;
  margin-top: 16px;
}
.articles-item-title,
.articles-item-author,
.articles-item-description {
  margin-bottom: 0.6em;
}
.article-wrapper,
.about-wrapper {
  margin-top: 60px;
}
.article-title,
.about-title {
  font-weight: 600;
  font-size: 32px;
}
.article-title a,
.about-title a {
  color: #000;
}
.article-author,
.about-author {
  color: #000;
  font-size: 14px;
}
.article-content,
.about-content {
  line-height: 130%;
  font-size: 16px;
  margin-top: 16px;
}
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6,
.about-content h1,
.about-content h2,
.about-content h3,
.about-content h4,
.about-content h5,
.about-content h6 {
  color: #000;
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 20px;
}
.article-content #preview,
.about-content #preview {
  box-sizing: content-box;
  line-height: 1.3;
}
.article-title,
.article-author,
.article-content,
.about-title,
.about-author,
.about-content {
  margin-bottom: 0.6em;
}
.about-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.about-banner p {
  font-size: 70px;
  margin: 0 0 0 10px;
}
.math-inline mjx-container {
  display: inline-block !important;
}
.math-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
mjx-container[jax="SVG"][display="true"] {
  display: flex;
  justify-content: center;
  flex: 1;
}
.math-block p {
  flex-shrink: 1;
}
.math-block mjx-container {
  margin: 0 !important;
}
.math-error {
  background-color: yellow;
  color: red;
}
